<%= render "shared/navbar" %>
<%= audio_tag("IntroB.mp3", type: "audio/mpeg", autoplay: true) %>

<div data-controller="hiddenloading" class="animate__animated animate__fadeIn animate__slower	">
  <div data-hiddenloading-target="form">
    <div class="container position-relative">
      <div class="mt-5 align-items-center d-flex flex-column">
        <%= simple_form_for(@dream, html: {data: { action: "submit->hiddenloading#show"}}) do |f| %>
          <div data-controller="character-counter countermax mb-1">
            <div>
              <%= f.input :content,
                wrapper_html: { class: "mb-1" },
                input_html: {autofocus: true, data: { action: "keyup->countermax#check", character_counter_target: "input",
                countermax_target: "input" } },
                label_html: { class: "form-label text-secondary fw-bold" }, as: :text, label: false, placeholder: "Dozens of white horses, in a field...  "
              %>

            </div>
            <div class="character-counter">
              <div class="count">
                <span data-countermax-target="counter" data-character-counter-target="counter"></span>/400
              </div>
              <i class="fa-solid fa-circle-info bottom-0"
                data-controller="popover"
                data-bs-toggle="popover"
                data-bs-trigger="hover"
                data-html="true"
                data-bs-placement="right"
                title="Tips and best practice"
                data-bs-content="Reminder: You can't use more than 400 char.

                - Avoid Being Too Vague
                - Write short sentences, and use commas.
                - Make sure to describe precisely your dream with basic elements : place, time of the day, characters involved etc.
                Favor Singular Nouns Or Specific Numbers
                - You should avoid using negative terms and simply state exactly what you want regarding colors, materials, and shapes.
                - Avoid using 'I'. ex: 'I was in the middle of the desert'. You might write 'A men/women/child in the middle of the desert' instead.
                - In the same way don't use specific terms such as 'My mom' or 'My brother'.">
              </i>
            </div>
          </div>

          <div class="pulse-container d-flex justify-content-center mt-4">
            <button type="submit" name="commit" class="pulse-button" data-disable-with="Create Dream">
            </button>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="hiddenloading d-none d-flex justify-content-center align-items-center" data-hiddenloading-target="loading" style="height: 85vh; font-size:2em; margin-left:50px; margin-right:50px;">
  <%= audio_tag("Loading.mp3", type: "audio/mpeg", loop: true,  'data-hiddenloading-target': "bouclodio") %>
    <%# Quantity should be the same in Sass %>
    <%# <div data-hiddenloading-target="text" class="waiting-text"></div> %>

  <%# la super icone de dreamer %>
  <div class="loading2">
    <svg width="250px" height="250px" viewBox="0 0 187.3 93.7" preserveAspectRatio="xMidYMid meet">
    <path id="infinity-outline" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"
          d="M93.9,46.4c9.3,9.5,13.8,17.9,23.5,17.9s17.5-7.8,17.5-17.5s-7.8-17.6-17.5-17.5c-9.7,0.1-13.3,7.2-22.1,17.1 				c-8.9,8.8-15.7,17.9-25.4,17.9s-17.5-7.8-17.5-17.5s7.8-17.5,17.5-17.5S86.2,38.6,93.9,46.4z" />
    <path id="infinity-bg" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"
          d="M93.9,46.4c9.3,9.5,13.8,17.9,23.5,17.9s17.5-7.8,17.5-17.5s-7.8-17.6-17.5-17.5c-9.7,0.1-13.3,7.2-22.1,17.1 				c-8.9,8.8-15.7,17.9-25.4,17.9s-17.5-7.8-17.5-17.5s7.8-17.5,17.5-17.5S86.2,38.6,93.9,46.4z" />
    </svg>
  </div>
  <div class="loading">
    <svg width="250px" height="250px" viewBox="0 0 187.3 93.7" preserveAspectRatio="xMidYMid meet">
    <path id="infinity-outline" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"
          d="M93.9,46.4c9.3,9.5,13.8,17.9,23.5,17.9s17.5-7.8,17.5-17.5s-7.8-17.6-17.5-17.5c-9.7,0.1-13.3,7.2-22.1,17.1 				c-8.9,8.8-15.7,17.9-25.4,17.9s-17.5-7.8-17.5-17.5s7.8-17.5,17.5-17.5S86.2,38.6,93.9,46.4z" />
    <path id="infinity-bg" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"
          d="M93.9,46.4c9.3,9.5,13.8,17.9,23.5,17.9s17.5-7.8,17.5-17.5s-7.8-17.6-17.5-17.5c-9.7,0.1-13.3,7.2-22.1,17.1 				c-8.9,8.8-15.7,17.9-25.4,17.9s-17.5-7.8-17.5-17.5s7.8-17.5,17.5-17.5S86.2,38.6,93.9,46.4z" />
    </svg>
  </div>

  <%# fireflys %>
  <div>
    <%# Quantity should be the same in Sass %>
    <% quantity = 25 %>
    <% for i in 1..quantity do %>
      <div class="firefly"></div>
    <% end %>
  </div>

</div>
