<%= render "shared/navbar" %>

<div data-controller="dream" style="height: 93vh; overflow: auto;">

  <%# image sélectionnée %>
  <div id="selected-image" data-dream-target="selectedImage">
    <%= cl_image_tag @dream.scenes.first.image.key%>
  </div>

  <%# slider des scenes %>
  <div class="dreams">
    <div class="dreams_content_thumb">
      <% if @dream.scenes.first && @dream.scenes.first.image.attached? %>
        <% @dream.scenes.each do |scene| %>
          <div class="dreams_dream-thumb" data-dream-target="dream" data-action="click->dream#selectImage">
            <div class="dreams_dream_image_thumb">
              <%= cl_image_tag scene.image.key %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>

  <%# dream.content %>

  <div class="dreams_texte">
    <p id="dream-text"> <%= @dream.content %></p>
  </div>

  <div class="dreamboard-footer d-flex justify-content-center">
    <%= link_to "<i id='fleches-show' class='fa-solid fa-xmark'></i>".html_safe, :back %>
  </div>

  <% if @dream.user == current_user%>
  <%= link_to "Delete",
            dream_path(@dream),
            class: "btn-classic",
            data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
          %>
  <% end %>
</div>
