<div class="nav-wrapper" data-controller="toggle-element">
  <div class="navblock">
    <div class="dots">
        <i class="fa-solid fa-ellipsis" data-action="click->toggle-element#toggle turbo:before-cache@window->toggle-element#close"></i>
    </div>
    <div class="logo">
      <%= link_to dreamboard_path do %>
      <%= image_tag "logo-home.png", style:"width: 40px;"%>
      <% end %>
    </div>
  </div>

  <aside class="sidebar" data-toggle-element-target="element">

      <nav class="sidebar__menu">
        <%= link_to "a new dream", new_dream_path %>
        <%= link_to "dreamboard", dreamboard_path %>
        <%= link_to "feed", dreamfeed_path %>
      </nav>

    <nav class="sidebar__menu">
      <%= link_to "a new dream", new_dream_path %>
      <%= link_to "dreamboard", dreamboard_path %>
      <%= link_to "feed", dreamfeed_path %>
      <%# lien vers la page "profile", à définir %>
      <%= link_to "profile", dreamboard_path %>
    </nav>

    <label for="menu-control" class="sidebar__close"></label>
  </aside>
</div>
