<div class="m-4" >
  <div class="container">
    <i class="fancy-text fa-solid fa-plus"></i>
    <%= link_to "Post a new dream", new_dream_path, class:"fancy-text" %>
  </div>


   <div class="d-flex justify-content-center">
      <h1 class="fancy-text mt-4">My dreams</h1>
  </div>

    <div>
      <% @dreams.each do |dream| %>
        <% if dream.user == current_user %>
          <% if dream.scenes.first && dream.scenes.first.image.attached? %>
            <div class="card card-background m-3 border-0 rounded-4">
              <%# <%= link_to dream_path(dream), class:"text-decoration-none" do %>
              <div class="slides_content mt-5" >
                <% dream.scenes.each do |scene| %>
                  <div class="slides_slide" data-slides-target="slide">
                    <div class="slides_slide_image" >
                      <% if scene.image.attached? %>
                        <%= cl_image_tag scene.image.key, crop: :fill %>
                      <% end %>
                    </div>

                    <div class="slides_text">
                      <% if scene.content? %>
                        <%= "#{scene.content}" %>
                      <% end %>
                    </div>

                  </div>
                <% end %>
              </div>
                      <%# <%= cl_image_tag dream.scenes.first.image.key, crop: :fill, class: "card-img-top rounded-top" >

                  <div class="cards-filter">
                    <% if dream.content? >
                      <p class=""><%= dream.content ></p>
                    <% end >
                  </div> %>
              <%# <% end %>
            </div>
          <% end %>
        <% end %>
      <% end %>

    </div>
  </div>
</div>
