<!DOCTYPE html>
<html>
  <head>
    <title>DREAMER</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <style>@import url('https://fonts.googleapis.com/css2?family=Heebo&family=Libre+Baskerville&family=Nunito+Sans:wght@300;400&family=Roboto+Slab:wght@200;300&display=swap');</style>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.1.2/css/all.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>

  <body>
  <canvas id="gradient-canvas" data-controller="gradient" data-transition-in></canvas>
    <%# navbar inutile pour le moment %>
    <%# <%= render "shared/navbar" %>

    <%= yield %>
    <%= render "shared/flashes" %>
  </body>
</html>

<%# # ligne à rentrer pour distinguer class selon page affichée (via l'action) %>
<%# <%=action_name=="home" ? "spectrum-background" : "spectrum-background-general"  %>
